/*-----------------------------------------*/
/*               BASIC SETUP               */
/*-----------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

/*-----------------------------------------*/
/*           REUSABLE COMPONENT            */
/*-----------------------------------------*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

/*-----------------------------------------*/
/*              HEADER SETUP               */
/*-----------------------------------------*/


header {
    background-image: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("img/hero.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*-----------------------------------------*/
/*              HEADING SETUP              */
/*-----------------------------------------*/

h1, h2,h3 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;   
}

h1 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
    letter-spacing: 0;
}

h2::after {
    content: " ";
    display: block;
    height: 2px;
    width: 100px;
    background-color: #e67e22;
    margin: 0 auto;
    margin-top: 30px;
}

/*-----------------------------------------*/
/*              PARAGRAPH SETUP            */
/*-----------------------------------------*/

.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    text-align: center;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/*-----------------------------------------*/
/*                ICON SETUP               */
/*-----------------------------------------*/

.icon-big {
    font-size: 350%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
    /*text-align: center;*/
}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    margin-right: 10px;
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}

/*-----------------------------------------*/
/*               LINKS SETUP               */
/*-----------------------------------------*/

a:link,
a:visited {
    color: #e67e22;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #e67e22;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
    color: #555;
    border-bottom: 1px solid transparent;
}

/*-----------------------------------------*/
/*               BUTTON SETUP              */
/*-----------------------------------------*/

.btn:link,
.btn:visited,
button {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: all 0.2s;
    border: 1px solid #e67e22;
}

.btn-full:link,
.btn-full:visited,
button {
    background-color: #e67e22;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    color: #e67e22;
}

.btn:hover,
.btn:active,
button:hover,
button:active {
    background-color: #cf6d17;
    border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
    color: #fff;
}

.logo {
    height: 100px;
    width: auto;
    margin-top: 20px;
    float: left;
}

.logo-black { 
    display: none; 
    height: 50px;
    width: auto;
    margin: 5px 0;
    float: left;
}

/*-----------------------------------------*/
/*                MAIN NAVI                */
/*-----------------------------------------*/

.main-nav {
    float: right;
    list-style: none;
    margin-top: 50px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
    padding: 8px 0;
}

.main-nav li a:hover,
.main-nav li:active {
    border-color: #e67e22;
}

/*-----------------------------------------*/
/*                MOBILE NAVI              */
/*-----------------------------------------*/
.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i {
    font-size: 200%;
    color: #fff;
}

/*-----------------------------------------*/
/*                STICKY NAVI              */
/*-----------------------------------------*/

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255,255,255, .98);
    box-shadow: 0 2px 2px #efefef;
    z-index: 99;
}

.sticky .main-nav {
    margin-top: 19px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 17px 0;
    color: #555;
}

.sticky .logo { display: none }
.sticky .logo-black {
    display: block;
}

/*-----------------------------------------*/
/*              FEATURES SETUP             */
/*-----------------------------------------*/

.section-features .long-copy {
    margin-bottom: 30px;
}

.section-features .short-copy {
    text-align: left;
}

/*-----------------------------------------*/
/*               MEALS SETUP               */
/*-----------------------------------------*/
.section-meals {
    padding: 0;
}

.meals-showcase {
    list-style: none;
    width: 100%;
}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.meal-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.17);
    transition: transform .5s, opacity .5s;
}

.meal-photo img:hover {
    opacity: 1;
    transform: scale(1.04);
}

/*-----------------------------------------*/
/*            HOW IT WORKS SETUP           */
/*-----------------------------------------*/

.section-steps {
    background-color: #f4f4f4;
}

.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}

.steps-box:last-child {
    padding-left: 3%;
    margin-top: 70px;
}

.app-screen {
    width: 40%;
}

.works-step {
    margin-bottom: 50px;
}

.works-step:last-of-type {
    margin-bottom: 80px;
}

.works-step div {
    color: #e67e22;
    border: 2px solid #e67e22;
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
}
.btn-app:link,
.btn-app:visited {
    border: 0;
}
.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}

/*-----------------------------------------*/
/*               CITES SETUP               */
/*-----------------------------------------*/

.city-feature {
    margin: 0;
    padding: 0;
    list-style: none;
}

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.city-feature li {
    margin-bottom: 5px;
}

/*-----------------------------------------*/
/*           TESTIMONIALS SETUP            */
/*-----------------------------------------*/

.section-testimonials {
    background-image: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url(img/back-customers.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    margin-top: 40px;
    position: relative;
}

blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    left: -5px;
    top: -5px;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

cite img {
    height: 120px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

/*-----------------------------------------*/
/*               PLANS SETUP               */
/*-----------------------------------------*/

.section-plans {
    background-color: #f4f4f4;
}

.plan-box {
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    box-shadow: 0 2px 2px #efefef;
}

.plan-box div {
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}

.plan-box div:first-child {
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.plan-box div:last-child {
    text-align: center;
    border: none;
}

.plan-price {
    font-size: 250%;
    margin-bottom: 10px;
    font-weight: 100;
    color: #e67e22;
}
.plan-price span {
    font-size: 70%;
    font-weight: 300;
}
.plan-price-meal {
    font-size: 80%;
}

.plan-box ul {
    list-style: none;
}

.plan-box ul li {
    padding: 5px 0;
}

/*-----------------------------------------*/
/*               OPINION SETUP             */
/*-----------------------------------------*/

.contact-form {
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
    resize: none;
}

button {
    cursor: pointer;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

*:focus {
    outline: none;
}

/*-----------------------------------------*/
/*               FOOTER SETUP              */
/*-----------------------------------------*/

footer {
    background-color: #333;
    padding: 50px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: none;
    color: #888;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

.social-links li a:link, 
.social-links li a:visited {
    font-size: 150%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    transition: color 0.2s;
}

.ion-social-facebook:hover,
.ion-social-facebook:active {
    color: #3b5998;
}

.ion-social-twitter:hover,
.ion-social-twitter:active {
    color: #00aced;
}

.ion-social-googleplus:hover,
.ion-social-googleplus:active {
    color: #dd4b39;
}

.ion-social-instagram:hover,
.ion-social-instagram:active {
    color: #517fa4;
}

footer p {
    color: #888;
    text-align: center;
    font-size: 90%;
    margin-top: 30px;
}

/*-----------------------------------*/
/*            Animation              */
/*-----------------------------------*/

.js--effect-item-features,
.js--effect-item-works,
.js--effect-item-cities {
    opacity: 0 !important;
    animation-duration: 1s;
}

.js--effect-item-plans {
    animation-duration: 1s;
}

.js--effect-item-features.animated,
.js--effect-item-works.animated,
.js--effect-item-cities.animated {
    opacity: 1 !important;
}

.hero-text {
    opacity: 0 !important;
    transition: all 1s;
}

.hero-text.animated {
    opacity: 1 !important;
}

.hero-text-box h1 {
    overflow: hidden;
}